# .gitignore (in the root folder)

# Node dependencies
node_modules/
/client/node_modules/
/server/node_modules/

# Environment variables - DO NOT COMMIT THESE
.env
/client/.env*
/server/.env*

# Build folder
/client/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*